{% extends 'base.html.twig' %}

{% block title %} La page des locations! {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    
    <h1>bienvenu(e) à la page des locations </h1>
<br/><br/>
<hr/>
<br/>

<table border="1">

<thead>
<tr>
<th> id </th>
<th> Date </th>
<th> Titre </th>
<th> Catégorie </th>
<th> Description </th>
<th> Valeur </th>
<th> Adresse </th>
<th> Accessibilitéy </th>
<th> à la une </th>
<th> Image </th>
<th> Action </th>
</tr>
</thead>

<tbody>
{% for location in locations %}

<tr>
<td> {{ location.id }} </td>
<td> {{ location.date|date("D/M/Y") }} </td>
<td> {{ location.titre }} </td>
<td> {{ location.categorie }} </td>
<td> {{ location.description }} </td>
<td> {{ location.valeur }} </td>
<td> {{ location.adresse }} </td>
<td> {{ location.accessibility }} </td>
<td> {{ location.alaune }} </td>
<td> {{ location.image }} </td>
<td> <a href="{{ path('location_id', {'id':location.id})}}"> Voir la location numéro {{ location.id }} </a></td>
</tr>
{% endfor %}
</tbody>
</table>
    
    <ul>
    <li> <a href="{{ path('locform')}}"> Enregistrer une nouvelle location </a> </li>    
<li> <a href="{{ path('demarrage')}}"> Revenir à l'accueil </a> </li>    
    </ul>
</div>
{% endblock %}