{% extends "base.html.twig" %}

{% block title %} l'enregistrement d'une nouvelle location{% endblock %}

{% block body %}

<h1> Remplissez correctement ce formulaire pour enregistrer une nouvelle location</h1>

<br/><br/>
<hr/>
<br/<br/>

{{ form_start(locationform) }}
 {{ form_widget(locationform.date|date("d/m/Y")) }} <br/>
 {{ form_widget(locationform.titre) }} <br/>
 {{ form_widget(locationform.categorie) }}<br/>
 {{ form_widget(locationform.description) }}<br/>
 {{ form_widget(locationform.valeur) }} <br/>
 {{ form_widget(locationform.Adresse) }} <br/>
 {{ form_widget(locationform.accessibility) }} <br/>
 {{ form_widget(locationform.alaune) }} <br/>
 {{ form_widget(locationform.image) }} <br/>
<br/>

<button tupe="sumit" class="btn btn-success"> Valider le formulaire </button>
{{ form_end(locationform ) }}
{% endblock %}