{% extends 'base.html.twig' %}

{% block title %}
	Gestion des utilisateurs!
{% endblock %}

{% block body %}
	<style>
			.contenu {
				max-width: 800px;
				width: 95%;
				font: 18px / 1.5 sans-serif;
			}
			.contenu code {
				background: #F5F5F5;
				padding: 2px 6px;
			}
		</style>

	<div class="contenu">
		<h1>Hello! bienvenu(e) à la page des utilisateurs!✅</h1>
		<br/><br/>
		<hr/>
		<br/><br/>

		<table border="1">
			<tbody>
				{% for abonne in user %}

					<thead>
						<tr>
							<th>
								id
							</th>
							<th>
								nom
							</th>
							<th>
								prenom
							</th>
							<th>
								photo
							</th>
							<th>
								dateNaissance
							</th>
							<th>
								login
							</th>
							<th>
								passWord
							</th>
							<th>
								adresse
							</th>
							<th>
								email
							</th>
							<th>
								role
							</th>
						</tr>
					</thead>

					<tr>
						<td>
							{{ abonne.id }}
						</td>
						<td>
							{{ abonne.nom }}
						</td>
						<td>
							{{ abonne.prenom }}
						</td>
						<td>
							{{ abonne.dateNaissance|date("d/m/Y") }}
						</td>
						<td>
							{{ abonne.login }}
						</td>
						<td>
							{{ abonne.passWord }}
						</td>
						<td>
							{{ abonne.adresse }}
						</td>
						<td>
							{{ abonne.email }}
						</td>
						<td>
							{{ abonne.photo }}
						</td>
						<td>
							{{ abonne.role }}
						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>

<br/><br/>
<ul>
<li> <a href="{{ path('user_affichage',{'id':'abonner.id'})}}"> Voir un utilisateur donné </a></li>
<li> <a href="{{ path('formutilisateur') }}"> Ajouter un utilisateur </a></li>
</ul>
	</div>
{% endblock %}
