{% extends "base.html.twig" %}

{# {% form_theme formCreateArt 'bootstrap_4_layout.html.twig' %} #}

{% block title %} Modification d'un utilisateur {% endblock %}

{% block body %}

<h1> Modifier un utilisateur </h1>

<br/><br/>
<hr/>
<br/<br/>

<div>
Faites vos modifications puis cliquez sur le bouton "Modifier"
</div>
<br/><br/>

{{ form_start(form)}}
Nom : {{ form_widget(form.nom) }} <br/>
Prénom : {{ form_widget(form.prenom) }} <br/>
Date de naissance : {{ form_widget(form.dateNaissance) }}<br/>
Login : {{ form_widget(form.login) }}<br/>
Mot de passe : {{ form_widget(form.passWord) }} <br/>
Adresse : {{ form_widget(form.adresse) }} <br/>
Email : {{ form_widget(form.email) }} <br/>
Photo : {{ form_widget(form.photo) }} <br/>
Rôle : {{ form_widget(form.role) }} <br/>
<br/>

<button tupe="sumit" class="btn btn-success"> Modifier </button>
{{ form_end(form) }}
{% endblock %}