{% extends 'base.html.twig' %}

{% block title %}
	Liste des auteurs!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>liste des auteurs✅</h1>
		<br/><br/>
		<hr/>
		<br/>
		<table border="1">
			<thead>
				<tr>
					<th>
						id
					</th>
					<th>
						Nom
					</th>
					<th>
						Prénom
					</th>
					<th>
						Email
					</th>
					<th>
						Article
					</th>
					<th>
						Action
					</th>
				</tr>
			</thead>

			<tbody>
				{% for auteur in auteurs %}
					<tr>
						<td>
							{{auteur.id}}
						</td>
						<td>
							{{auteur.nom}}
						</td>
						<td>
							{{auteur.prenom}}
						</td>
						<td>
							{{auteur.email}}
						</td>

						 <ul><td>{% for art in auteur.articles %}
							 {{ art.titre }}
						 {% endfor %}
						</td></ul>
						<td>
							<a href="{{ path('auteur_id', {'id': auteur.id}) }}">
								Afficher l'auteur n°
								{{auteur.id}}
							</a>
						</td>
						{# <td> <a href="{{ path('indexedit')}}"> Modifier l'auteur </a> </td> #}
					{# <td> <a href="{{path('sup_auteur')}}"> Supprimer l'auteur</a></td> #}
					</tr>

				{% endfor %}
			</tbody>
		</table>
<br<:><br/>
<hr/>
<br/>
</:>

		<p> le total des auteurs est de {{ totalauteurs }}</p>
		<br><br/>
		<hr/>
		<br/>
		
		<ul>
			{# <li> <a href="{{ path('edit_modifier') }}"> Modifier un article</a> </li> #}
			{# <li><a href="{{ path('art_affichage',{'id': 'prod.id'}) }}">Consulter un livre donné</a></li> #}
			{# <li><a href="{{ path('article.nouvelarticle')}}">Ajouter un nouveau livre</a></li> #}
				<li><a href="{{ path('formulaire')}}"> Ajouter un nouvel auteur</a>
							<li> <a href="{{ path('demarrage') }}"> Revenir à la page d'accueil </a> </li>
		</ul>
	</div>
{% endblock %}
