{% block title %}{% endblock %}

{% block body %}					

<ul class="dropdown-menu">
  <li> <a href="{{ path('app_register') }}"> s'inscrire </a></li>
    <li><a href="{{ path('app_login') }}"> s'authentifier </a></li>
    <li><a href="{{ path('indexliste') }}"> Liste des users </a></li>
		<li><a href="{{ path('livre') }}"> Livres </a></li>
        <li><a href="{{ path('index_auteur') }}"> La liste des auteurs </a></li>
        <li><a href="{{ path('categorie') }}"> Liste des Catégorie </a></li>
        <li><a href="{{ path('location') }}"> Aller à la page des locations </a></li>
        <!-- <li><a href="{{ path('utilisateur') }}"> Voir les utilisateur </a></li> -->
    
</ul>

{% endblock %}