{% extends "base.html.twig" %}

{% form_theme formCreateArt 'bootstrap_4_layout.html.twig' %}
{% block title %} Affichage d'une catégorie donnée! {% endblock %}

{% block body %}

<h1> L'Affichage de la catégorie numéro {{ categor.id }} </h1>

<br/><br/>
<hr/>
<br/><br/>

<table class="table" border="1">
<tbody>
<thead>
<tr>
<th>id</th>
<th>titre</th>
<th>résumé</th>
</tr>
</thead>

<tr>
<td>{{ categor.id }}</td>
<td>{{ categor.titre }}</td>
<td>{{ categor.resume }}</td>
</tr>
</tbody>
</table>

<br/><br/>

<ul>
<li> <a href="{{ path('categorie')}}"> revenir à la page des catégorie </a> </li>
<li> <a href="{{ path('demarrage')}}"> Revenir à la page d'accueil </a> </li>
</ul>
{% endblock %}