{% extends "base.html.twig" %}

{% block title %} Affichage d'un article! {% endblock %}

{% block body %}

<h1> Nouvel article </h1>

<br/><br/>
<hr/>
<br/><br/>

<table class="table border=1">
<tbody>
<thead>
<tr>
<th>id</th>
<th>titre</th>
<th>contenu</th>
<th>images</th>
<th>resume</th>
<th>date</th>
</tr>
</thead>

<tr>
<td>{{ prod.id }}</td>
<td>{{ prod.titre }}</td>
<td>{{ prod.contenu }}</td>
{# <td>{{ prod.image }}</td>  #}
<td>{{ prod.resume }}</td>
<td>{{ prod.date|date("d/m/Y") }}</td>
</tr>
</tbody>
</table>
{% endblock %}