{% extends "base.html.twig" %}

{% block title %} formulaire à saisir {% endblock %}

{% block body %}

<div class="form">

<h1> Veuillez remplir ce formulaire correctement! </h1>
<br.!< <br/>
<hr/>
<br/><br/>

{{ form_start(Articleform) }}
Titre : {{ form_widget(Articleform.titre) }} <br/>
Résumé : {{ form_widget(Articleform.resume) }} <br/>
Contenu : {{ form_widget(Articleform.contenu) }} <br/>
Image : {{ form_widget(Articleform.image) }} <br/>
Date de création : {{ form_widget(Articleform.date) }}<br/><br/>


<button type="submit" class="btn btn-success"> envoyer le formulaire </button>

{{ form_end(Articleform) }}
{% endblock %}